@using AppData.Models
@model AppView.PhanTrang.PhanTrangBase<XepCa>

@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/nv.css">
    ViewData["Title"] = "Show";
    AppData.Models.AssignmentDBContext dBContext = new AppData.Models.AssignmentDBContext();
    int stt = 1;
    string searchData = "";
}

<h1>
    <b>Danh sách xếp ca</b>
</h1>

<table class="table" style="margin-left: 20px">
    <thead style=" background-color: darkslategray">
        <tr>
            <th style=" background-color: darkslategray;
    color: white;">STT</th>
            <th style=" background-color: darkslategray;
    color: white;">Tên Nhân Viên</th>
            <th style=" background-color: darkslategray;
    color: white;">Ngày Hiệu Lực</th>
            <th style=" background-color: darkslategray;
    color: white;">Ca Làm Việc</th>
            <th style=" background-color: darkslategray"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {

            <tr>
                <td>@stt</td>
                <td>@item.NhanVien.Ten</td>
                <td>@item.NgayHieuLuc.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@Html.DisplayFor(modelItem => item.CaLamViec)</td>
                <td style="text-align:end">
                </td>
                @{
                    stt++;
                }
            </tr>
        }
    </tbody>
</table>
<div style="display: flex; justify-content: center; margin: 0; padding: 0;">
    <button disabled="@(Model.PagingInfo.CurrentPage == 1)" style="background-color: @(Model.PagingInfo.CurrentPage == 1 ? "#f5f5f5" : "transparent"); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; margin: 0;">
        <a style="text-decoration: none; color: black;" href="@Url.Action("Show", new { ProductPage = 1 })">Đầu</a>
    </button>
    @if (Model.PagingInfo.CurrentPage > 1)
    {
        <button style="background-color: @(Model.PagingInfo.CurrentPage - 1 == Model.PagingInfo.CurrentPage ? "#99CCFF" : "transparent"); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; margin: 0;">
            <a style="text-decoration: none; color: black;" href="@Url.Action("Show", new { ProductPage = Model.PagingInfo.CurrentPage - 1 })">Trước</a>
        </button>
    }
    @for (int i = Math.Max(1, Model.PagingInfo.CurrentPage - 1); i <= Math.Min(Model.PagingInfo.TotalPages, Model.PagingInfo.CurrentPage + 1); i++)
    {
        <button style="background-color: @(i == Model.PagingInfo.CurrentPage ? "#99CCFF" : "transparent"); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; margin: 0;">
            <a style="text-decoration: none; color: black;" href="@Url.Action("Show", new { ProductPage = i })">@i</a>
        </button>
    }
    @if (Model.PagingInfo.CurrentPage < Model.PagingInfo.TotalPages)
    {
        <button style="background-color: @(Model.PagingInfo.CurrentPage + 1 == Model.PagingInfo.CurrentPage ? "#99CCFF" : "transparent");border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; margin: 0;">
            <a style="text-decoration: none; color: black;" href="@Url.Action("Show", new { ProductPage = Model.PagingInfo.CurrentPage + 1 })">Tiếp</a>
        </button>
    }
    <button disabled="@(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages)" style="background-color: @(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? "#f5f5f5" : "transparent");border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; margin: 0;">
        <a style="text-decoration: none; color: black;" href="@Url.Action("Show", new { ProductPage = Model.PagingInfo.TotalPages })">Cuối</a>
    </button>
</div>
<script>
    document.addEventListener('keydown', function (event) {
        // Nếu ấn backspace, thì load lại trang ban đầu
        if (event.key === 'Backspace') {
            var url = '/CaLamViec/Show';
            window.location.href = url;
        }
    });

</script>
